body {
    font-family: 'Roboto', sans-serif;
    color: #1C1C1C;
    font-size: 14px;
    line-height: 1.42;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
h1 {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
ul {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
.wrapper {
    margin: 0;
    padding: 0;
}
.button {
    background-color: #6F2CFF;
    color: white;
    border-radius: 50px 50px;
    padding: 7px 40px;
    border: none;
}
.hero {
    padding-top: 20px;
    padding-bottom: 0px;
}
.hero__container {
    width: 1400px;
    margin: 0 auto;
}
.container {
    margin: 0 auto;
    width: 1300px;
}
.topline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.topline__logo {
    margin-right: 8px;
}
.menu {
    width: 759px;
    
}
.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #1C1C1C;
}
.menu__item {
    list-style-type: none;
    margin-right: 30px;
    
}
.menu__item:last-child {
    margin-right: 0;
}
.menu__link {
    text-decoration: none;
    color: #1C1C1C;
}
.menu__link:hover {
    color: #6F2CFF;
}
.services {
    display: flex;
    flex-direction: row;
}
.services__wrapper {
    
    margin-right: 22px;
}
.mainContent {
    background: url("img/RectangleBackgr.png");
    height: 647px;
    padding-top: 50px;
}
.mainPage {
    width: 463px;
    margin-top: 86px;
    margin-left: 35px;
}
.mainPage__wrap {
    margin-bottom: 10px;
}
.mainPage__title {
    font-size: 54px;
    font-weight: bold;
    margin-bottom: -20px;
}
.mainPage__title-color {
    color: #6F2DFF;
    margin-bottom: 28px;
}
.mainPage__text {
    width: 448px;
    margin-bottom: 10px;
}
.mainPage__text p {
    line-height: 1.6;
}

.form__input {
    width: 255px;
    height: 39px;
    border: solid #6F2CFF 2px;
    border-radius: 50px 0 0 50px;
    margin-right: -4px;
    padding-left: 15px;
}
.form__input:focus {
    border-radius: 50px 0 0 50px;
    border: solid #6F2CFF 2px;
    outline: none;
}
.form__button {
    width: 187px;
    height: 45px;
    background-color: #6F2CFF;
    border-radius: 0 50px 50px 0;
    border: none;
    color: white
}
.mainPage p {
    color:  #000000;
    font-size: 15px;
}
.mainPage__text p {
    font-size: 18px;
}
.service__button {
    margin-right: 38px;
    margin-bottom: 1px;
    margin-top: -11px;
    
}
.separator {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 75px;
}
.separator__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 31px;
}
.separator__head {
    margin-top: 38px;
}
.separator__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 1235px;
}
.separator__item {
    list-style-type: none;
    margin-right: 50px;
}
.separator__item:last-child {
    margin-right: 0;
}
.separator__wrap {
    width: 200px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
}
.link {
    color: #1C1C1C;
    text-decoration: none;
    border-bottom: solid #6F2CFF 2px;
}
/*.promotions__list {
    column-count: 2;
    column-gap: 30px;
    border-left: solid #E0E0E0 1px;
}*/
.provotions__descriptions {
    display: flex;
}
.promotions__list {
    border-left: solid #E0E0E0 1px;
    padding-left: 20px;
}
.promotions__list2 {
    border-left: solid #E0E0E0 1px;
    padding-left: 20px;
}
.promotions {
    display: flex;
    justify-content: space-around;
    margin-bottom: 179px;
    margin-top: 27px;
}
.promotions__profit h3 {
    font-size: 40px;
    font-weight: bold;
}
.promotions__profit--text {
    width: 54%;
}
.promotions__profit--text p {
    font-size: 15px;
}
.promotions__head {
    align-self: center;
    margin-top: 31px;
}
.promotions__title {
    margin-bottom: 50px;
    margin-right: 222px;
    font-size: 40px;
    font-weight: bold;
    margin-top: 38px;
    width: 400px;
    margin-left: 19px;
    line-height: 1.1;
}
.promotions__link {
    font-size: 14px;
    font-weight: bold;
}
.promotions__title-text {
    line-height: 1.1;
    font-size: 40px;
    font-weight: bold;
}
.promotions__head--wrap {
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 15px;
}
.promotions__text {
    margin-top: 50px;
    margin-left: 10px;
}
.promotions__text--desc1 {
    margin-bottom: 10px;
    font-size: 15px;
}
.promotions__text--desc {
    border-bottom: solid #000 1px;
    width: 106px;
    font-size: 15px;
}
.promotions__item {
    margin-bottom: 115px;
}
.promotions__item:last-child {
    margin-bottom: 0;
}
.promotions__button {
    margin-right: 10px;
    padding: 13px 59px;
}
.benefits {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 94px;
}
.benefits__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.benefits__wrap {
    width: 358px;
    align-self: center;
    text-align: center;
    margin-bottom: 61px;
}
.benefits__list--title {
    display: block;
    text-align: center;
    margin-bottom: 16px;
    color: #000;
    font-size: 19px;
    font-weight: bold;
}
/*.benefits__list--title {
    color: #000;
    font-size: 19px;
    font-weight: bold;
}*/
.benefits__item {
    margin-right: -107px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.benefits__item:last-child {
    margin-right: 0;
}
.benefits__img {
    width: 50px;
    height: 50px;
    margin-bottom: 40px;
}
.benefits__list--text {
    align-self: center;
    width: 62%;
}
.benefits__list--text p {
    text-align: center;
    font-size: 15px;
}
.benefits__title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 18px;
}
.benefits__subtitle {
    font-size: 18px;
}

.section--gray {
    background: #F5F5F5;
    margin: 0 auto;
}
.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 51px;
}
.features__wrap {
    margin-bottom: 93px;
    margin-top: 87px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features__title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 27px;
}
.features__subtitle {
    font-size: 15px;
}
.features__screens {
    margin-bottom: 72px;
}
.features__button-white {
    background: #fff;
    color: #6F2CFF;
    padding: 12px 55px;
}
.features__button {
    margin-right: 20px;
    padding: 12px 60px;
}
.features__buttons {
    margin-bottom: 50px;
}
.offers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 126px;
}
.offers__title {
    margin-bottom: 50px;
    margin-top: 90px;
    font-size: 40px;
    font-weight: bold;
}
.offers__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 106px;
}
.offers__item {
    width: 26%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 100px;
}
.offers__description__text {
    width: 259px;
}
.offers__img {
    align-self: center;
    width: 50px;
    height: 50px;
}
.offers__description__title {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 28px;
}
/*.offers__description__text {
    width: 72%;
}*/
.brands {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 105px;
}
.brands__list {
    display: flex;
    justify-content: center;
    
}
.brands__item {
    width: 319px;
    height: 438px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 7px;
    box-shadow: 0em 0.3em 5px rgba(122,122,122,0.5);
    
}
.brands__item:last-child {
    margin-right: 0;
}
.brand__img {
    display: block;
    /*width: 100%;
    height: 100%;*/
    object-fit: cover;
}
.brands__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.brands__text {
    width: 62%;
    color: #6F2CFF;
}
.brands__title {
    color: #000;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 70px;
    margin-top: 81px;
}
.brands__wrap__title {
    margin-top: 20px;
}
.arrow {
    border: solid #6F2CFF;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 14px;
}
.arrow:hover {
    border: solid purple;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 14px;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.brands__back {
    border: none; 
    outline: none;
    background: none;  
}
.slider {
    display: flex;
}
.information {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 67px;
}
.information__title h2 {
    text-align: center;
    margin-top: 87px;
    margin-bottom: 13px;
    font-size: 40px;
    font-weight: bold;
}
.information__subtitle {
    margin-bottom: 64px;
    font-size: 18px;
}
.information__list {
    /*display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;*/
    column-count: 2;
    column-gap: 13px;
}
.information__item {
    display: flex;
    flex-direction: column;
    background: #17002E;
    justify-content: space-between;
    color: #fff;
    padding: 30px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-radius: 6px;
    width: 404px;
    height: 160px;
}
.information_text2 {
    padding-bottom: 3px;
    border-bottom: solid 2px white;
    width: 300px;
    margin-bottom: 10px;
}
.information__item_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.information__item__img {
    margin-right: 20px;
}
.information__item__title {
    font-size: 18px;
    font-weight: bold;
}
.information__description p {
    font-size: 15px;
    
}
.information_text1 {
    width: 375px;
    margin-bottom: 15px;
}
.name {
    padding-bottom: 15px;
}
.name__wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.name_block2 {
    margin-top: 41px;
}
.name_block1 {
    margin-top: 33px;
    margin-left: 31px;
    margin-right: 102px;
}
.name__title {
    margin-bottom: 53px;
    font-size: 40px;
    font-weight: bold;
}
.name__text1 {
    margin-bottom: 20px;
}
.name__text2 {
    margin-bottom: 77px;
    width: 300px;
}
.name__text--wrap p {
    font-size: 13px;
    color: #000;
}
.name__button {
    font-size: 14px;
    font-weight: bold;
    padding: 13px 36px
}
.section__line {
    background: url("img/line_pic.svg") center;
    background-size: 100%;
    height: 329px;
    margin: 0;
    display: flex;
    align-items: center;
}

.line__title {
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    margin-bottom: 30px;
    margin-top: -18px;
}
.line {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.social {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 45px;
    
}
.social__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    vertical-align: middle;
    
}
.social__pic {
    vertical-align: middle;
    width: 19px;
    height: 19px;
}
.social__box {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.social__wrap--pic {
    margin-bottom: 30px;
}
.social__title {
    margin-bottom: 40px;
}
/*.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}*/
.footer__list {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 55px;
    padding-right: 121px;

}
.section--purple {
    margin: 0 auto;
    background: #20003C;
    color: #fff;
}
.footer__item--title {
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 16px;
    font-weight: bold;
}
.column__item {
    margin-bottom: 15px;
}
.footer {
    padding-bottom: 145px;
}
.footer__item2 {
    margin-top: 105px;
}
.footer__box {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: solid 1px white;
    padding-bottom: 94px;
}
.footer__list {
    margin-bottom: 30px;
}
.footer__logo {
    margin-bottom: 20px;
}